image: $CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX/mcr.microsoft.com/dotnet/sdk:8.0

stages:
  - build
  - deploy

cache:
  paths:
    - ~/.nuget/packages/
  key: "$CI_COMMIT_REF_SLUG"

build:
  stage: build
  script:
    - dotnet build --configuration Release --no-restore

deploy:
  stage: deploy
  image: $CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX/docker:latest
  services:
    - name: docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
    AWS_ACCOUNT: $AWS_ACCOUNT_SDLC_NONPROD
    ENVIRONMENT: dev
    IMAGE_TAG: latest
  before_script:
    - apk update && apk --no-cache add aws-cli bash
    - aws --version
    - docker info
  script:
    - bash ./build_deploy_image.sh
